# Build output
BUILD/
out/
*.o
*.d
*.axf
*.hex
*.bin
*.elf
*.map
*.lst
*.htm
*.log
*.bak

# Mbed library (imported by IDE from mbed.bld)
mbed/

# Keil / IDE files
*.uvprojx
*.uvoptx
*.uvguix.*
RTE/_*/
Objects/
Listings/
DebugConfig/
.vscode/
.settings/
*.jlink
compile_commands.json

# OS files
Thumbs.db
.DS_Store
